* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* imported font */

@font-face {
  src: url(../fonts/Recoleta-Regular.woff);
  font-family: recoleta;
}

@keyframes SlideUp {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}

/*default style*/
h1 {
  font-family: recoleta, serif;
  font-size: 9vh;
  font-weight: 400;
  line-height: 9.8vh;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-family: recoleta, serif;
  font-size: 66px;
  font-weight: 400;
  line-height: 64px;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-family: "Recoleta Regular DEMO";
  font-size: 26px;
  font-weight: 400;
  line-height: 38px;
  text-align: center;
}

h4 {
  font-family: ".SF NS Display";
  font-size: 26px;
  line-height: 36px;
  text-align: center;
}

h5 {
  font-family: ".SF NS Display";
  font-size: 68px;
  line-height: 96px;
  text-align: center;
}

h6 {
  font-family: "Recoleta DEMO";
  font-size: 26px;
  line-height: 34px;
  text-align: center;
}

.recola {
  font-family: "Recoleta DEMO";
}

.small-header {
  font-family: recoleta, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-align: left;
}

.big-header {
  color: #ffffff;
  font-family: "Recoleta DEMO";
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 33px;
}

.primary-color {
  color: #ffffff;
}

.secondary-color {
  color: #b38a58;
}

/*end of default style*/

h2 {
  font-size: 5.5vw;
  line-height: 6.04vw;
}
.phone-svg::before {
  content: url(../images/cell-phone.svg);
  margin-bottom: 2px;
  margin-right: 13px;
}

/* the toggle nav bar*/
.nav-open {
  position: fixed;
  z-index: 11;
}
.navbar-collapse .social-net ul {
  padding: 0;
}

.navbar-collapse .social-net {
  padding-left: 48px;
  position: absolute;
  bottom: 0;
}

#navbarResponsive {
  width: 100vw;
  height: 95vh;
  display: none;
  padding-top: 16vh;
}

#navbarResponsive h2 {
  color: #4c4c4c;
}

#navbarResponsive h2:hover {
  color: white;
}

.navbar-toggler-bar {
  background: #b38a58;
  display: block;
  position: relative;
  width: 22px;
  height: 2px;
  margin: 7px;
  border-radius: 1px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.rotate .top-bar {
  transform: rotate(45deg);
  transform-origin: 0;
  width: 25px;
}
.rotate .middle-bar {
  opacity: 0;
  display: block;
}
.rotate .bottom-bar {
  width: 25px;
  transform: rotate(-45deg);
  transform-origin: 0;
}

.bottom-bar {
  transform: rotate(0);
}
.top-bar {
  transform: rotate(0);
}

.middle-bar {
  display: none;
}

.navbar-collapse h1 {
  font-size: 9vh;
  line-height: 9.8vh;
}

#navbarResponsive .social-net {
  padding-bottom: 100px;
  padding-left: 61px;
}

/*end of toogle nav bar*/
.mask {
  width: 100%;
  height: 100vh;
  position: relative;
}

.bg-img1 {
  background-color: #000000;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-image: url("../images/restaurant.jpg");
  background-size: cover;
  background-blend-mode: screen;
  display: block;
  height: 100%;
  width: 100%;
  z-index: -1;
}


.bg-img2 {
  background-color: #000000;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-image: url("../images/restaurant2.jpg");
  background-size: cover;
  background-blend-mode: screen;
  display: block;
  height: 100%;
  width: 100%;
  z-index: -1;
}


.bg-img3 {
  background-color: #000000;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-image: url("../images/restaurant3.jpg");
  background-size: cover;
  background-blend-mode: screen;
  display: block;
  height: 100%;
  width: 100%;
  z-index: -1;
}


.dark-bg {
  background-color: #202020;
}

.overflow-hidden {
  overflow: hidden;
}

.mask h1 {
  display: block;
  width: 49.38vw;
  min-width: 347px;
  margin: 0 auto;
}

.mask .header-content {
  max-width: 320px;
  margin: 0 auto;
  /* font-family: "NeueHaasUnicaW1G-Regular"; */
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.radial-grad-img {
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  position: relative;
}

.linear-grad-img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 31.2vh;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.hover-svg:hover {
  fill: rgb(247, 206, 155);
  cursor: pointer;
}

.fa-instagram:hover {
  color: rgb(247, 206, 155);
  cursor: pointer;
}

.right-side-number-flex:hover .span-numb {
  color: rgb(247, 206, 155);
}
/* The top bar */

.row.head > [class*="col-"],
.row.head .col-fixed {
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-top: none;
  height: 6.17vw;
}

.col-8.justify-content-center {
  height: 6.17vw;
}

.mask svg {
  line-height: 28px;
}

.mask .align-items-center h1::after {
  content: url(../images/curly-line-menu.svg);
  display: block;
  margin-top: 30px;
}
.mask a:link,
.mask a:visited,
footer a:link,
footer a:visited {
  color: white;
  cursor: pointer;
}

.mask a:hover,
.mask a:active,
footer a:hover,
footer a:active {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.left-side-flex a:hover,
.right-side-button-flex:hover {
  color: rgb(247, 206, 155);
}

.rectangle {
  box-sizing: border-box;
  height: 22px;
  width: 14px;
  border: 1px solid #b38a58;
  border-radius: 2px;
  padding: 17.5px 4px 2.5px 2.5px;
  margin: 0;
}

.path {
  box-sizing: border-box;
  height: 0px;
  width: 7px;
  border: 0.25px solid #b38a58;
  border-radius: 2px;
  background-color: #b38a58;
}

ul,
.menu ol.carousel-indicators {
  list-style-type: none;
  margin: 0;
  align-items: center;
  display: block;
  padding: 0;
}

.left-nav-side {
  border-left: 0px;
}

.left-nav-side button {
  position: relative;
}

.left-nav-side .menu-button {
  padding-left: 0;
}

.left-nav-side svg {
  margin-top: 3px;
}

.menu-icon a {
  margin-top: -1px;
}
/* end of Top bar */

/* top of the flex container */

.flex-container {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 11vh;
  max-height: 110px;
  min-height: 80px;
}

.left-side-flex {
  height: inherit;
  max-height: 110px;
  min-height: 80px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  min-width: 123px;
  width: 11.11vw;
  border-top: none;
  border-left: none;
  display: flex;
  justify-content: center;
  flex-grow: 0;
  flex-direction: row;
  align-items: center;
  /* font-family: "Recoleta DEMO"; */
  font-family: recoleta, serif;
  font-size: 13px;
  letter-spacing: 2.36px;
  line-height: 18px;
}

.middle-side-flex {
  height: inherit;
  max-height: 110px;
  min-height: 80px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: none;
  flex-grow: 12;
  flex-basis: 213px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  /* font-family: "Recoleta DEMO"; */
  font-family: recoleta, serif;
  font-size: 24px;
  letter-spacing: 3px;
  line-height: 33px;
  text-align: center;
  text-transform: uppercase;
  padding-left: 15%;
}

.right-side-number-flex {
  height: inherit;
  max-height: 110px;
  min-height: 80px;
  flex-grow: 0;
  width: 13.51vw;
  max-width: 219px;
  min-width: 163px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  /* font-family: "Recoleta DEMO"; */
  font-family: recoleta, serif;
  font-size: 13px;
  letter-spacing: 2.36px;
  line-height: 18px;
}

.right-side-button-flex {
  height: inherit;
  max-height: 110px;
  min-height: 80px;
  width: 11.72vw;
  max-width: 190px;
  min-width: 130px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: none;
  border-right: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-family: recoleta, serif;
  font-size: 13px;
  letter-spacing: 2.36px;
  line-height: 18px;
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* end of the flex top nav*/

/* the rest of the header section, below the nav top bar*/
.row.main {
  padding-top: 24.7vh;
}

.row.align-items-end {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  padding-bottom: 5.6vh;
  padding-left: 3.76%;
  padding-right: 3.95%;
}

.arrow-button-down {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-bottom {
  display: flex;
}

.rhombus {
  margin-right: -80px;
  width: 64px;
  height: 64px;
  border: solid 1px #b38a58;
  transform: rotate(45deg);
  text-align: center;
}

.arrow-button-down:hover .rhombus {
  background-color: #b38a58;
}

.rhombus svg {
  transform: rotate(-45deg);
  display: block;
  margin-top: 20px;
  margin-left: 25px;
}

.raiting {
  font-family: "Recoleta DEMO";
  font-size: 12px;
  letter-spacing: 2.18px;
  line-height: 16px;
  width: 94px;
  float: left;
}

/*the end of the rest of the header section*/

/* button styles*/

button,
.btn {
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 0;
}
button:focus {
  outline: 0;
}

.btn-secondary {
  height: 60px;
  width: 180px;
  border: 1px solid white;
  margin: 0 30px;
  font-family: recoleta, serif;
  font-size: 14px;
  line-height: 60px;
}

.social-network .btn-secondary {
  margin-top: 29px;
  margin-bottom: 30px;
  height: 55px;
  width: 170px;
  line-height: 55px;
}

.menu .last-button {
  margin-bottom: 13.06vh;
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: white !important;
  color: #000000 !important;
}

.btn-primary {
  height: 56px;
  width: 300px;
  border: 1px solid #b38a58;
  position: relative;
  /* font-family: "Recoleta DEMO"; */
  font-family: recoleta, serif;
  font-size: 14px;
  line-height: 56px;
  position: relative;
}

footer .btn-primary {
  margin-top: 20px;
}

footer .btn-primary::after,
.mask .btn-primary::after {
  content: url(../images/arrow-right.svg);
  margin-top: -5.5px;
  display: block;
  width: 5px;
  height: 11px;
  position: absolute;
  top: 50%;
  right: 20px;
}

.mask .btn-primary {
  margin: 50px auto;
  text-align: center;
  display: none;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #b38a58;
  border-color: #b38a58;
}

.btn-primary svg {
  margin-top: -11px;
  position: absolute;
  right: 10px;
  top: 50%;
}
/* end of button styles*/

/* instagram icon */
.instagram-icon:hover path#shape,.instagram-icon:hover #Oval{
  fill:rgb(247, 206, 155);
}

.social-network .btn-secondary:hover .instagram-icon path#shape, 
.social-network .btn-secondary:hover .instagram-icon path#shape, .social-network .btn-secondary:hover .instagram-icon #Oval{
  fill: #000000;
}
.social-network .btn-secondary .instagram-icon{
  vertical-align: none!important;
}

.social-network .btn-secondary{
  line-height: 23!important;
}
/*  end of instagram icon*/

/*display after subscription and display of booking*/
.sms-subscription {
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 12;
}

.sms-subscription .curly-line::after {
  margin-top: 3vh;
}
.sms {
  min-height: 360px;
  max-width: 620px;
  width: 80.72vw;
  height: auto;
  border: 1px solid #4c4c4c;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 76px;
  padding-bottom: 73px;
}

.sms h2 {
  font-family: recoleta, serif;
  font-size: 48px;
  line-height: 54px;
  display: block;
  width: 100%;
}

.sms .sub-sms {
  font-size: 16px;
  line-height: 27px;
  opacity: 0.6;
  height: 64px;
  max-width: 461px;
  width: 74.35%;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
}

.btn-dark {
  border-radius: 50%;
  height: 4.93vw;
  width: 4.93vw;
  min-height: 37px;
  min-width: 37px;
  background-color: #121212;
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-dark:hover {
  background-color: #b38a58;
}

.btn-dark img {
  width: 1.91vw;
  height: auto;
  min-width: 10px;
  max-width: 31px;

}
/*end of css for display after subscription*/

/*booking-form*/

.booking, .term-privacy-modal {
  background-color: #202020;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 12;
  overflow: hidden;
  overflow-y: auto;
  display: none;
}

.booking .form-container, .term-privacy-modal .form-container{
  max-width: 780px;
  width: 80.72vw;
  height: auto;
  border: 1px solid #4c4c4c;
  text-align: center;
  flex-direction: column;
  padding: 7.7vh 50px 10vh 50px;
  position: relative;
  margin-top: 20vh;
}
.term-privacy-modal .form-container{
  margin-bottom: 20vh ;
}


.booking form h2 {
  font-family: ".SF NS Display";
  font-size: 5.8vh;
  line-height: 6.4vh;
}

.booking .curly-line::after,.term-privacy-modal .curly-line::after {
  padding-top: 30px;
  margin-top:0;
}

.booking form > div.form-row{
  margin-top: 30px;
}

.booking form input {
  height: 80px;
  border: 1px solid #4c4c4c;
  background: none !important;
  text-align: center;
  border-radius: 0;
  color: white;
  transition: 0.5s;
  font-family: recoleta, serif;
}

.booking input:-webkit-autofill,
.booking input:-webkit-autofill:hover,
.booking input:-webkit-autofill:focus,
.booking textarea:-webkit-autofill,
.booking textarea:-webkit-autofill:hover,
.booking textarea:-webkit-autofill:focus,
.booking select:-webkit-autofill,
.booking select:-webkit-autofill:hover,
.booking select:-webkit-autofill:focus {
  border: 1px solid #b38a58;
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px #202020 inset;
  caret-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

input::-ms-clear {
  display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.booking form .input-field:hover input[type="button"],
.booking form .input-field:hover input[type="number"],
#date:hover,
#time:hover {
  border-color: #b38a58;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="time"]::-webkit-clear-button,
input[type="date"]::-webkit-clear-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  margin: -10px;
}

#name,
.booking input[type="email"],
.booking input[type="tel"] {
  text-align: left;
  padding: 21px 19px;
  height: 60px;
  font-size: 12px !important;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 500;
}

.booking input[type="text"]::placeholder,
.booking input[type="email"]::placeholder,
.booking input[type="tel"]::placeholder {
  text-transform: uppercase;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.booking form input.form-control {
  font-size: 1.5rem;
}
.booking form input.form-control:focus {
  outline: none;
  border-color: #b38a58;
  background: none;
  color: white;
  box-shadow: none;
}

.booking form label {
  height: 40px;
  border: 1px solid #4c4c4c;
  background: none;
  text-align: center;
  border-top: none;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 500;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 40px;
  text-transform: uppercase;
}

.booking form label[for="guest"]::before {
  content: url(../images/user.svg);
  text-align: center;
  margin-right: 5px;
}

.booking form label[for="date"]::before {
  content: url(../images/date.svg);
  text-align: center;
  margin-right: 5px;
}

.booking form label[for="time"]::before {
  content: url(../images/time.svg);
  text-align: center;
  margin-right: 5px;
}

.booking .btn-primary {
  height: 80px;
  width: 220px;
  background-color: #202020 !important;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 80px;
  position: absolute;
  bottom: -40px;
  font-family: recoleta, serif;
  border-color: #b38a58;
  box-shadow: none;
}

.booking .btn-primary:hover{
  background-color: #b38a58!important ;
}

.sub-booking {
  max-width: 461px;
  opacity: 0.6;
  font-family: recoleta, serif;
  font-size: 15px;
  line-height: 24px;
  margin: 82px auto;
  margin-bottom: 5vh;
}

.term-privacy-modal .sub-booking{
  margin-top:40px;
}

.sub-error {
  max-width: 461px;
  font-family: "Recoleta DEMO";
  font-size: 15px;
  line-height: 24px;
  color: #b38a58;
}

.booking form .input-field input {
  height: 80px;
  width: 100px;
  background: none;
  text-align: center;
  border-radius: 0;
  border: 1px solid #4c4c4c;
}

.booking form .input-field input[type="number"] {
  border-left: none;
  border-right: none;
  width: 34.33% !important;
}

.minus,
.plus {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5) !important;
  width: 33.33% !important;
}

.plus {
  border-left: none !important;
}

.minus {
  border-right: none !important;
}

.minus:focus,
.plus:focus {
  outline: none;
  background: none;
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: none;
}

.booking form .input-field input[type="number"]:focus,
.booking form .input-field input[type="number"]:focus + .plus {
  border-color: #b38a58;
}

.booking
  form
  .input-field
  input[type="number"]:focus
  + .booking
  form
  .input-field
  input[type="button"] {
  border-color: #b38a58;
}

button.btn.btn-primary:focus {
  outline: 0;
  box-shadow: none !important;
}
/*end of booking-form*/

.align-items-center p {
  margin-top: 2.09vw;
  margin-bottom: 0;
}

.align-items-end li {
  text-align: center;
}

.align-items-end li {
  padding-bottom: 10px;
}

.align-items-center .col {
  text-align: center;
}

button img {
  position: absolute;
  left: 30px;
  top: 30px;
}

.line {
  box-sizing: border-box;
  height: 1px;
  width: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0;
  position: relative;
  display: inline-block;
  margin-bottom: 3px;
}

.fill {
  box-sizing: border-box;
  height: 1px;
  width: 10px;
  border: 1px solid #b38a58;
  background-color: #b38a58;
  border-radius: 1px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -1;
  left: -1;
  transform: all 0.3s;
}

.align-items-end .col {
  display: flex;
  justify-content: space-between;
  padding: 0;
  position: relative;
}

.first-body-section {
  height: 497px;
  padding-top: 124px;
  text-align: center;
}

.first-body-section .content {
  margin-bottom: 40px;
  display: block;
  max-width: 600px;
  margin: 0 auto;
  font-family: recoleta, serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 38px;
  text-align: center;
}

.second-body-section .content,
.third-body-section .content {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
}

.col-md-6.order-2.order-md-2 .content,
.review-content {
  display: block;
  max-width: 420px;
  margin: 0 auto;
  font-family: recoleta, serif;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
}

.review-content {
  max-width: 400px;
}

.second-body-section .col-xl-6.order-1.order-xl-2,
.col-lg-6.order-1.order-lg-1 {
  height: 500px;
}

.col-md-6 .text,
.col-lg-6.text {
  /* text-align: center; */
  padding-left: 15%;
  padding-right: auto;
}

.text .content::before {
  content: "";
  box-sizing: border-box;
  height: 1px;
  width: 400px;
  background-color: #b38a58;
  display: block;
  margin-left: -15vw;
  margin-top: 19px;
  margin-bottom: 30px;
}

.text .content {
  max-width: 350px;
}

.arrow-left:hover #Path-left,
.arrow-right:hover #Path-right {
  stroke: #b38a58;
}

.line-7 {
  box-sizing: border-box;
  height: 1px;
  width: 400px;
  /* border: 1px solid #b38a58; */
  background-color: #b38a58;
  position: absolute;
  left: 0;
}

.second-body-section h2,
.third-body-section h2,
.third-body-section p {
  text-align: left;
}

.col-xl-6.order-1.order-xl-2 {
  padding: 0;
}

.second-body-section .food-right {
  display: block;
  margin-right: 0;
  margin-left: auto;
}

.second-body-section .food-right img {
  width: 39.5vw;
  height: auto;
  display: block;
  margin-right: 0;
  margin-left: auto;
}

.second-body-section .food-right::after {
  content: "";
  height: 39.5vw;
  width: 19.62vw;
  background-color: #eae0d5;
  position: absolute;
  top: -10.24vw;
  right: 0;
  z-index: -1;
}

.rectangle-copy-5 {
  height: 39.5vw;
  width: 19.62vw;
  background-color: #eae0d5;
  position: absolute;
  top: -10.24vw;
  right: 0;
}

.food-left img {
  height: 33.33vw;
  width: 28.39vw;
}

.food-left {
  z-index: 5;
  background: none;
}

.food-left::before {
  content: "";
  height: 50.61vw;
  width: 30.24vw;
  z-index: -1;

  background-color: #eae0d5;
  position: absolute;
  left: 0;
  top: 10.18vw;
}

.col-md-6.order-2.order-md-2 {
  padding: 0;
  padding-top: 25%;
  padding-right: 10%;
  text-align: center;
  overflow: hidden;
}

.col.col-md-6.order-1.order-md-1 {
  /* display: block; */
  height: 50.61vw;
  padding-top: 16.04vw;
  padding-left: 11.11vw;
}

.row.end {
  height: auto;
  position: relative;
}

.food-middle {
  height: auto;
  width: 19.75vw;
  /* position: absolute;
  left: 50vw;
  top: 5vw; */
  display: block;
  margin-left: 50%;
  margin-right: auto;
  margin-top: 5vw;
  margin-bottom: 10.8vw;
}

.food-middle img {
  width: 100%;
}

.second-body-section .placeholder {
  opacity: 0.05;
  color: #000000;
  font-family: recoleta, serif;
  font-size: 18.51vw;
  line-height: 0.8;
  position: absolute;
  top: 0;
  right: -50;
  text-transform: uppercase;
}

.mask-table {
  background-color: #121212;
  background-repeat: no-repeat;
  background: url("../images/tables.jpg");
  background-position: center center;
  background-size: cover;
  background-blend-mode: screen;
  height: auto;
  width: 100%;
}


.menu {
  padding-top: 8.09vw;
  text-align: center;
  width: 100%;
}

.menu-header {
  font-family: recoleta, serif;
  font-size: 68px;
  line-height: 96px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.menu ol.carousel-indicators li {
  display: inline;
  line-height: 50px;
  width: auto;
  height: auto;
  margin: 0;
  text-indent: 0;
  background: none;
  border: none;
}

.menu ol.carousel-indicators,
.menu .notification,
.review .small-header,
footer .container-fluid,
footer .sms-form,
footer ul {
  margin-top: 50px;
}

footer .term-privacy-btn:hover{
  cursor: pointer;
  color: rgb(247, 206, 155);
}

.menu .content {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  font-family: recoleta, serif;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  margin-top: 32px;
}

.price {
  position: relative;
}
.price::before {
  content: "";
  height: 0.5px;
  width: 8px;
  background-color: white;
  border: 0.5px solid #ffffff;
  margin-left: -35.5px;
  margin-top: 10.5px;
  position: absolute;
  left: 50%;
}

.price::after {
  content: "";
  height: 0.5px;
  width: 8px;
  background-color: white;
  border: 0.5px solid #ffffff;
  margin-right: -35.5px;
  margin-top: 10.5px;
  position: absolute;
  right: 50%;
}

.dinner-content {
  font-family: recoleta, serif;
  font-size: 14px;
}

.dinner-content .first-col::after {
  content: "";
  box-sizing: border-box;
  height: 420px;
  width: 0.5px;
  border: 0.5px solid #ffffff;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
}

.notification {
  font-family: recoleta, serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.third-body-section {
  padding-top: 13.08vw;
  background-color: #fbfaf9;
  height: 61.72vw;
  min-height: 700px;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.curly-line::after {
  content: url(../images/curly-line.svg);
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 65px;
  height: 3px;
}

.row.main .curly-line::after {
  margin-top: 0;
}

.menu-header.curly-line::after {
  margin-top: 4px;
}

.review-content::before {
  content: url(../images/quotes.svg);
  display: block;
  margin-bottom: 15px;
}

.menu h5 {
  display: block;
  max-width: 345px;
  margin: 0 auto;
}

.menu h5::after {
  content: url(../images/curly-line-menu.svg);
  display: block;
  margin-top: 15px;
}

.col-lg-6.img img {
  height: 35.92vw;
  width: 28.39vw;
  display: block;
  margin-right: 11.11vw;
  margin-left: auto;
  margin-top: -10;
  z-index: 5;
}

.third-body-section::after {
  content: "";
  height: 55.55vw;
  width: 30.24vw;
  background-color: #eae0d5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.third-body-section .placeholder {
  height: auto;
  opacity: 0.05;
  color: #000000;
  font-family: recoleta, serif;
  font-size: 18.51vw;
  line-height: 0.8;
  position: absolute;
  left: 0;
  top: 0;
}

.review-social-network {
  /* position: relative; */
  height: 45.17vw;
  width: 100%;
  background-color: #fbfaf9;
}

.review-social-network .row {
  margin: 0;
  z-index: 10;
  height: inherit;
  position: relative;
  bottom: -2.46vw;
}

.social-network {
  padding: 0;
  padding-top: 5.8vw;
  /* height: 48.14vw; */
  background-color: #3c3c3c;
  text-align: center;
  position: relative;
  left: 0;
  top: -2.46vw;
  z-index: 10;
}

.social-net-title {
  font-family: recoleta, serif;
  font-size: 15px;
  line-height: 24px;
}

.social-network .social-net-title {
  margin-bottom: 50px;
}

.review-social-network img {
  height: auto;
  max-height: 25.92vw;
  width: auto;
  max-width: 80%;
}

#social-net-img .carousel-item{
  height: 25.92vw;
}

#social-net-img .carousel-item-next, #social-net-img .carousel-item-prev, #social-net-img .carousel-item.active{
  display: flex;
    justify-content: center;
    align-items: center;
}

.review {
  box-sizing: border-box;
  padding: 0;
  padding-top: 5.8vw;
  background-color: #ffffff;
  text-align: center;
  position: relative;
  right: 0;
  z-index: 10;
}

.review .social-net-title {
  margin-bottom: 6.85vw;
}

.romb1 {
  z-index: 3;
  width: 9px;
  height: 9px;
  border: solid 0.5px #b38a58;
  transform: rotate(45deg);
}

.romb2 {
  z-index: 3;
  width: 9px;
  height: 9px;
  border: solid 0.5px #b38a58;
  transform: rotate(45deg);
}

.romb3 {
  z-index: 3;
  width: 9px;
  height: 9px;
  border: solid 0.5px #b38a58;
  transform: rotate(45deg);
}

.active .romb1 {
  background: #b38a58;
}

.active .romb2 {
  background: #b38a58;
}

.active .romb3 {
  background: #b38a58;
}

.review .carousel-indicators li {
  box-sizing: none;
  flex: none;
  width: 0;
  height: 0;
  margin: 0;
  text-indent: none;
  background: none;
  border: none;
  opacity: 1;
  padding-left: 10px;
}

.carousel-indicators {
  position: static;
  margin-bottom: 20px;
}

.review ol li {
  display: inline;
  padding-right: 10px;
}

.review ol {
  padding-top: 3.08vw;
}

footer {
  position: relative;
  height: auto;
  width: 100%;
  background: #202020 url("../images/pattern2.png") repeat center center;
  background-size: 100% inherit;
  z-index: 0;
}
.social-net-icons {
  justify-content: center;
}

.side-content {
  font-family: recoleta, serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.email {
  height: 56px;
  width: 300px;
  background-color: #ffffff;
  border: none;
  display: block;
  margin: auto;
  text-align: center;
  font-family: neue-haas-unica, sans-serif;
  font-size: 16px;
  line-height: 56px;
}

.email:focus {
  box-shadow: none !important;
  border: none !important;
}

.email::placeholder {
  color: #646463;
  font-family: neue-haas-unica, sans-serif;
  font-size: 16px;
  line-height: 56px;
  text-align: center;
}

.sms-form {
  opacity: 0.6;
  font-family: recoleta, serif;
  font-size: 14px;
  line-height: 24px;
}
.email-decorator {
  text-decoration: underline;
  color: #b38a58;
  text-decoration-color: #b38a58 !important;
  cursor: pointer;
}

.col-lg-4::after {
  content: "";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 210px;
  width: 0.05px;
  border-left: 1px dashed #ffffff;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
}

.col-lg-4.right-side::after {
  display: none;
}

.circular-div {
  height: 45px;
  width: 45px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.circular-div:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


footer ul li {
  display: inline;
  margin: 5px;
}

.term-privacy {
  font-family: recoleta, serif;
  font-size: 11px;
  letter-spacing: 2px;
  line-height: 24px;
  text-align: center;
}

footer .term-privacy::before {
  box-sizing: border-box;
  height: 1px;
  width: 460px;
  background-color: #979797;
  border-top: 0.5px solid #979797;
  opacity: 0.4;
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 50;
}

.arrow-up {
  box-sizing: border-box;
  padding: 40px;
  display: block;
  height: 101px;
  width: 100px;
  background-color: #181818;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.arrow-up:hover {
  background-color: white;
}

.arrow-up:hover #arrow-up1,
.arrow-up:hover #arrow-up {
  stroke: #b38a58;
}

.social-net a {
  cursor: pointer;
}

.social-net .last-icon {
  padding-bottom: 0;
}

.half-br {
  line-height: 10px;
}

.second-section {
  position: relative;
}

footer .content {
  text-align: center;
  padding-top: 200px;
  height: inherit;
}

#email-form svg {
  top: 50%;
  margin-top: -11px;
  position: absolute;
  right: 10px;
}

footer h6 {
  font-family: recoleta, serif;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  line-height: 33px;
}

h6.header {
  font-family: recoleta, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 96px;
  text-transform: uppercase;
}

@media only screen and (min-width: 1621px) {
  .review-social-network {
    height: 45.17vw;
  }

  .mask {
    background-size: cover;
  }
}

@media only screen and (max-width: 1199px) {
  h1 {
    font-size: 5.55vw;
    line-height: 6.04vw;
    display: block;
    max-width: 577px;
  }

  .menu {
    padding-top: 8.08vw;
  }

  .social-network {
    top: -1.46vw;
  }
  .third-body-section .placeholder {
    display: none;
  }
}

@media only screen and (max-width: 999px) {
  .review {
    bottom: -2.08vw;
  }

  .third-body-section .col-lg-6.img,
  .third-body-section::after {
    display: none;
  }
  .review-social-network h4 {
    font-size: 16px;
    line-height: 26px;
  }
}

@media only screen and (max-width: 991px) {
  footer {
    height: auto;
  }

  .pattern {
    display: none;
  }

  .col-lg-4::after {
    display: none;
  }

  .left-side::before {
    content: "";
    opacity: 0.3;
    z-index: 6;
    width: 0.5px;
    height: 460px;
    border: dashed 0.5px #ffffff;
    transform: rotate(-90.00001deg);
    position: absolute;
    top: 0;
    left: 50vw;
  }

  .review-social-network {
    height: auto;
  }

  .review-social-network .row {
    width: 100%;
    margin: 0;
  }

  .social-network,
  .review {
    position: static;
    height: 600px;
    width: 100vw;
  }

  .review-social-network img {
    width: auto;
    max-width: 68%;
    height: auto;
    max-height: 357px;
  }

  #social-net-img .carousel-item{
    height: 357px;
  }
}

@media only screen and (max-width: 899px) {
  h1 {
    font-size: 50px;
    line-height: 54px;
  }

  .right-bottom {
    left: 80.24vw;
  }
  .review-social-network h4 {
    font-size: 16px;
    line-height: 26px;
  }

  .review .social-net-title {
    margin-bottom: 57px;
  }

  .review ol {
    padding-top: 48px;
  }
  .review {
    bottom: -2.08vw;
  }

  .third-body-section .col-lg-6.img,
  .third-body-section::after {
    display: none;
  }

  .menu-button,
  .mask .header-content {
    display: none;
  }

  .new-line-mobile {
    display: block;
  }

  .mask .btn-primary {
    display: block;
  }
  .right-side-button-flex {
    display: none;
  }
  .middle-side-flex {
    padding: 0;
  }

  .right-side-number-flex {
    border-right: none;
  }
}

@media only screen and (max-width: 846px) {
  .right-bottom,
  .align-items-end .social-net {
    display: none;
  }

  .align-items-end {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .align-items-end .col {
    justify-content: center;
  }
  .rhombus {
    margin: 0;
  }

  .row.align-items-center {
    padding-top: 137px;
  }
}

@media only screen and (max-width: 796px) {
  .second-body-section .food-right img {
    width: 90.93%;
  }
}

@media only screen and (max-width: 780px) {
  .second-body-section .placeholder {
    display: none;
  }

  .third-body-section .col-lg-6.img,
  .third-body-section::after {
    display: none;
  }

  .right-side-number-flex .span-numb {
    display: none;
  }
  .right-side-number-flex,
  .left-side-flex {
    min-width: 80px;
  }
  .left-side-flex .menu-text {
    display: none;
  }
  .phone-icon {
    display: block;
    margin-top: 4;
  }
  .phone-svg::before {
    margin-right: 0;
  }

  .col-md-6.order-2.order-md-2 {
    overflow: visible;
  }
}

@media only screen and (max-width: 767px) {
  .menu ol.carousel-indicators li {
    display: block;
    margin: 15px 0;
  }

  .menu button {
    width: 300px;
    height: 50px;
  }

  .menu .first-col::after {
    display: none;
  }

  .img-mask {
    height: 1700px;
  }

  .col-md-6.order-2.order-md-2 {
    padding: 0;
    height: 240px;
  }

  .food-left img {
    height: 398px;
    width: 339px;
  }

  .food-left::before {
    height: 520px;
    width: 276px;
  }

  .col.col-md-6.order-1.order-md-1 {
    height: 660px;
  }
  .food-middle {
    width: 320px;
  }
}

@media only screen and (max-width: 660px) {
  .new-line-660 {
    display: inline;
  }

  .arrow-up {
    display: none;
  }

  .hide-660 {
    display: none;
  }

  .term-privacy {
    bottom: -250;
  }

  footer .term-privacy::before {
    width: 305px;
  }

  footer .left-side::before {
    height: 305px;
    top: 80;
  }

  .text .content::before {
    width: 172px;
  }

  h2 {
    font-size: 54px;
    line-height: 52px;
  }

  .booking h2, .term-privacy-modal h2 {
    font-size: 5.5vw;
    line-height: 6.04vw;
  }

  .food-middle {
    width: 50.13vw;
    height: 61.86vw;
    top: 15vw;
    margin-left: 47%;
  }
}

@media only screen and (max-width: 650px) {
  .navbar-collapse .social-net ul {
    width: 100%;
  }
  .navbar-collapse .social-net {
    padding-left: 0;
  }
  #navbarResponsive .social-net {
    padding-left: 0;
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-collapse .social-net ul li {
    display: inline;
    padding-right: 24px;
  }

  .navbar-collapse .social-net ul li.last-icon {
    padding-right: 0;
  }
}

@media only screen and (max-width: 568px) {
  .first-body-section h3,
  .second-body-section h4 {
    font-size: 20px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 549px) {
  .second-body-section .food-right::after {
    width: 24.53vw;
    height: 90.66vw;
    top: -80;
  }

  .first-body-section {
    padding-top: 53px;
    height: 450px;
  }

  /**/
  .col.col-md-6.order-1.order-md-1 {
    padding-top: 115px;
    padding-left: 2px;
    height: 643px;
  }

  .food-left::before {
    width: 74.13vw;
    top: 53px;
  }
}

@media only screen and (max-width: 465px) {
  .sms h1 {
    font-size: 10.32vw;
    line-height: 11.61vw;
  }
}
@media only screen and (max-width: 445px) {
  .header-small-screen-hide {
    display: none;
  }
}

@media only screen and (max-width: 440px) {
  .booking h2, .term-privacy-modal h2 {
    font-size: 5.5vw;
    line-height: 6.04vw;
  }
}

@media only screen and (max-width: 430px) {
  .sms h2 {
    font-size: 11.15vw;
    line-height: 12.55vw;
  }
}

@media only screen and (max-width: 411px) {
  .small-screen-hide {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .col-md-6.order-2.order-md-2 {
    height: 300px;
  }
}

@media only screen and (max-width: 374px) {
  .mask h1 {
    font-size: 13.33vw;
    line-height: 14.4vw;
    width: 90vw;
    min-width: 90vw;
  }

  .btn-primary,
  input.email {
    width: 80vw;
  }

  h2 {
    font-size: 14.4vw;
    line-height: 13.8vw;
  }

  .booking h2, .term-privacy-modal h2{
    font-size: 5.5vw;
    line-height: 6.04vw;
  }

  .food-left img {
    height: 106.1vw;
    width: 90.4vw;
  }

  .food-left::before {
    height: 138.6vw;
  }

  .col.col-md-6.order-1.order-md-1 {
    height: auto;
  }

  .col-md-6.order-2.order-md-2 {
    height: auto;
    padding-top: 133px;
    padding-bottom: 62px;
  }
}

@media only screen and (max-height: 700px) {
  .row.main {
    padding-top: 15.7vh;
  }
  .header-button {
    margin: 20px auto;
  }
}

@media only screen and (max-height: 523px) {
  .row.main {
    padding-top: 10.7vh;
  }
}
